.advantages {
  background-color: $basic_dark-brown;
  padding-top: 54px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 84px;
    padding-bottom: 100px;
  }
}

.advantages__title {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages__br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__lead {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.advantages__item {
  margin: 0 auto;
  padding: 15px;
  width: 290px;
  min-height: 248px;
  background-color: $basic_brown;

  &:not(:last-child) {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 360px;
    min-height: 306px;
    padding: 20px;
  }
}

.advantages__link {
  display: block;
  width: 260px;
  height: 218px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
  color: $basic_white;
  transition: background-color 0.3s ease-out, fill 0.3s ease-out, stroke 0.3s ease-out;

  @media (min-width: $tablet-width) {
    width: 320px;
    min-height: 272px;
  }

  &:hover {
    background-color: $basic_gold;
  }

  &:hover .advantages__icon {
    fill: $basic_white;
    stroke:  $basic_gold;
  }
}

.advantages__icon {
  margin: 0 auto;
  margin-bottom: 20px;
  fill: $basic_gold;
  stroke-width: 2px;
  stroke: $basic_brown;
  transition: fill 0.3s ease-out, stroke 0.3s ease-out;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.advantages__icon--free-vet {
  @media (min-width: $tablet-width) {
    width: 98px;
    height: 109px;
  }
}

.advantages__icon--counseling24 {
  @media (min-width: $tablet-width) {
    width: 107px;
    height: 97px;
  }
}

.advantages__icon--food-selection {
  @media (min-width: $tablet-width) {
    width: 70px;
    height: 110px;
  }
}

.advantages__name {
  width: 200px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 26px;
    width: 250px;
  }
}
