.footer {
  padding-top: 40px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__adress,
.footer__tel {
  color: $basic_light-gold;
  font-weight: normal;
}

.footer__adress {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 0;
  }
}

.footer__tel {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-bottom: 0;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 170px;
  }
}

.footer__social-list {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 0;
    margin-left: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.footer__social-icon {
  fill: $basic_gold;

  &:hover {
    fill: $basic_white;
  }
}

.footer__logo {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: 170px;
  }
}
