.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  color: $basic_white;
  background-color: $basic_dark;
}
