.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

.social__icon {
  display: block;
  transition: fill 0.3s ease-out, opacity 0.3s ease-out;
  fill: $basic_white;

  &:hover {
    fill: $basic_gold;
  }

  &:active {
    opacity: 0.5;
  }
}

.social__icon--fb {
  @media (min-width: $desktop-width) {
    margin-left: 4px;
  }
}
