@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
  url("../fonts/Robotolight.woff2"),
  url("../fonts/Robotolight.woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
  url("../fonts/Roboto.woff2"),
  url("../fonts/Roboto.woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
  url("../fonts/Robotomedium.woff2"),
  url("../fonts/Robotomedium.woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
  url("../fonts/Robotobold.woff2"),
  url("../fonts/Robotobold.woff");
}

@font-face {
  font-family: "Yeseva One";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
  url("../fonts/yesevaone.woff2"),
  url("../fonts/yesevaone.woff");
}
