// colors

$basic_dark: #151313;
$basic_brown: #1F1C1D;
$basic_dark-brown: #181617;
$basic_gold: #A07B50;
$basic_light-gold: #DDD0C3;
$basic_white: #ffffff;

//media

$tablet-width: 768px;
$desktop-width: 1366px;
